* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}
/* header start */
header{
    display: grid;
    grid-template-columns: 55% auto auto auto auto auto auto;
    align-items: center;
    margin:20px 30px;
    padding:30px;
  
    
}

header>div>h3{
    /* font-size: 18px; */
}
header>li>a {
    font-size:16px;
    color: black;

}
header>li>a>i{
    font-size: 16px;
}

/* header ends */

/* hero areas start */
.hero-areas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.header-title {
    font-size:35px;
    color: black;
}

.header-descriptions {
    margin-top: 12px;
    margin-bottom: 10px;


}

.btn {
    width: 196px;
    height: 44px;
    padding: 10px 24px;
    background:black;
    border-radius: 41px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
 
}
.btn.fa-solid{
    background: none;
    justify-content: center;
    color: white;
}

/* hero areas ends */



/* brands start */
.all-brands {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 30px;
    height: 110px;

}

/* brands ends */
/* .famous-collection {
    width: 1047px;
    height: 1662px;
    margin:150px;
   

} */

.section-title {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    color: #0A0826;

}

.products {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 100px;
    box-shadow: 5px 5px 5px 5px whitesmoke;


}

.product {
    width: 329px;
    height: 440px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px 5px rgba(233, 233, 233, 0.363);

}


.product-banner {}

.product-detail {}

.product-banner>img {
    width: 300px;
    height: 256px;

}

.product-price {
    font-size: 25px;
}

.see-more {
    color:black;
    text-align: end;
    /* left: 1222px;
top: 2497px; */
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
  

/* featured products section start */

.feature-products {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 80px;
    padding: 50px;
 
}


.camera-gear {}

.camera-gear-img {
    width: 404px;
    height: 270px;
}

.feature-description {
    /* width: 610px;
    height: 224px; */
    margin-left: 80px;


}

.feature-description>h2 {
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
    margin-bottom: 20px;

}
.feature-description>p {
    margin-bottom: 20px;

}
.feature-description>button {
    
        width: 150px;
        height: 44px;
        padding: 10px 24px;
        background:black;
        border-radius: 30px;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: white;
    
}

/* featured products section ends  */

/* footer start */

footer{
  
    
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 50px;

}
.footer>h3 {
text-align: center;
   

}
.footer>p{
    text-align: center;
    margin-bottom: 10px;

}
.social-icon{
    text-align: center;
}
.social-icon>i{
   
    margin-left:10px;

}

/* footer ends  */



/* small devices start */
@media only screen and (max-width:576px){
    .hero-areas,
    .header-title,
    .header-descriptions,
    .image-main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }

.head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.brands{

   display: grid; 
   grid-template-columns: auto;

}
.all-brands{

    flex-direction: column;

}






.hide{
    display:none;
}
    



}

/* small devices ends */


